@model IEnumerable<election_3.Models.Debates>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DebateTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DebateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Candidate1ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Candidate2ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DebateTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DebateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Candidate1ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Candidate2ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DebateID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DebateID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DebateID })
        </td>
    </tr>
}

</table>
